<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户信息</title>
    <link th:href="@{/css/common.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/me.css}" rel="stylesheet" type="text/css" />
</head>
<body>
<!--top-->
<div th:replace="~{common/common::top}"></div>
<!--head-->
<div th:replace="~{common/common::head-me}"></div>

<!--主体-->
<div class="info fl" style="margin: 0 433px">
    <div class="info-left fl">
        <img class="info-left-img" th:src="@{'/upload/userHeadImg/'+${session.user.userDetail.headImg}}">
    </div>
    <div class="info-right fl">
        <div class="info-right-top">个人资料</div>

        <div class="info-right-key">基本信息</div>
        <div class="info-right-value">
            <div class="info-right-value-item">
                <div class="info-right-value-item-key fl">昵称：</div>
                <div class="info-right-value-item-value fl">[[${session.user.userDetail.nickname}]]</div>
            </div>
            <div class="info-right-value-item">
                <div class="info-right-value-item-key fl">真实姓名：</div>
                <div class="info-right-value-item-value fl">[[${session.user.userDetail.realName}]]</div>
            </div>
            <div class="info-right-value-item">
                <div class="info-right-value-item-key fl">性别：</div>
                <div class="info-right-value-item-value fl">[[${session.user.userDetail.sex}]]</div>
            </div>
            <div class="info-right-value-item">
                <div class="info-right-value-item-key fl">生日：</div>
                <div class="info-right-value-item-value fl">[[${#dates.format(session.user.userDetail.birthday, 'yyyy-MM-dd')}]]</div>
            </div>
            <div class="info-right-value-item">
                <div class="info-right-value-item-key fl">手机：</div>
                <div class="info-right-value-item-value fl">[[${session.user.userDetail.phone}]]</div>
            </div>
            <div class="info-right-value-item">
                <div class="info-right-value-item-key fl">居住地：</div>
                <div class="info-right-value-item-value fl">
                    [[${userAddrList[0].province}]]
                    [[${userAddrList[0].city}]]
                </div>
            </div>
        </div>
        <a th:href="@{'/user/userModify/'+${session.user.userId}}">
            <button class="button button-modify" style="margin-bottom: 15px">修改</button>
        </a>

        <div class="info-right-key">收货地址</div>
        <div class="info-right-value">
            <div class="info-right-value-item">
                <div class="info-right-value-item-key fl">省：</div>
                <div class="info-right-value-item-value fl"></div>
            </div>
            <div class="info-right-value-item">
                <div class="info-right-value-item-key fl">市：</div>
                <div class="info-right-value-item-value fl"></div>
            </div>
            <div class="info-right-value-item">
                <div class="info-right-value-item-key fl">县/区：</div>
                <div class="info-right-value-item-value fl"></div>
            </div>
            <div class="info-right-value-item">
                <div class="info-right-value-item-key fl">详细地址：</div>
                <div class="info-right-value-item-value fl"></div>
            </div>
        </div>
        <div class="info-right-value">
        </div>
        <div class="info-right-value">
        </div>
    </div>
</div>

<!--footer-->
<div th:replace="~{common/common::footer}"></div>
</body>
</html>